name: Update GitHub Achievements

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"  # updates every 12 hours

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch Achievements
        id: achievements
        uses: lowlighter/metrics@v3.33
        with:
          token: ${{ secrets.PAT_TOKEN }}
          user: MrunaliOza04
          filename: achievements.svg
          base: achievements
          template: classic
          config_timezone: Asia/Kolkata



      - name: Insert Achievements into README
        run: |
          sed -i '/<!--ACHIEVEMENTS-->/{n;s|.*|![](./achievements.svg)|}' README.md

      - name: Commit Results
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git pull --rebase origin main
          git add .
          git commit -m "Update Achievements" || echo "No changes to commit"
          git push

