name: GitHub Achievements Only

on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  achievements:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Achievements
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-achievements.svg

          # ONLY ACHIEVEMENTS
          base: ""
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: X
