name: GitHub Metrics

on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push:

permissions:
  contents: write


jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg

          # Plugins
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes

          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: bytes-size, percentage

          plugin_followup: yes
          plugin_stars: yes

      - name: Commit Results
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git pull --rebase origin main
          git add .
          git commit -m "Update Achievements" || echo "No changes to commit"
          git push
