name: Profile_Metrics_3d

on:
  schedule:
    - cron: "0 0 * * *"      # runs every day at midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: MrunaliOza04
          template: classic
          base: header, activity, community, repositories, metadata

      - name: Commit Results
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git pull --rebase origin main
          git add .
          git commit -m "Update Metrics" || echo "No changes"
          git push
